<%- include("inc/head") -%>
    <div class="card">
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Sálario</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% func.forEach(row=> { %>
                        <tr>
                            <td>
                                <%= row.name %>
                            </td>
                            <td>
                                <%= row.cpf %>
                            </td>
                            <td>
                                R$ <%= row.salary.toFixed(2) %>
                            </td>
                            <td>
                                <div id="icons-table-employees">
                                    <a title="Editar Dados Do Funcionário" id="edit-button" href="/editemployees?v=<%=row.cpf%>"><i
                                            class="fas fa-edit"></i></a>
                                    <a id="upload-button" href="?v=<%=row.cpf%>" title="Upload De Arquivos"><i class="fas fa-upload"></i></a>
                                </div>
                            </td>

                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Arquivos</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <% if(files !="not" ){ %>
                        <% files.forEach(row=> { %>
                            <div id="modal-content">
                                <a id="file-upload-modal" href="/documents?file=<%= row.file  %>" target="_blank"
                                    rel="noopener noreferrer">
                                    <%= row.file %>
                                </a>
                                <a title="Apagar Arquivo" onclick="messegeDelete('<%= row.file  %>')" id="trash-icon-file"><i
                                        class="fas fa-trash-alt pointer"></i></a><br>
                            </div>
                            <% }) %>
                                <% } %>
                </div>
                <div class="modal-footer justify-content-between">
                    <form id="formUpload" action="/upload" method="post" enctype="multipart/form-data">
                        <div class="modal-footer justify-content-between">
                            <input name="avatar" type="file" class="form-control-file" id="exampleFormControlFile1">
                            <button type="button" class="btn btn-primary padding-button-modal"
                                data-dismiss="modal">Sair</button>
                            <button type="submit" class="btn btn-primary padding-button-modal">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <%- include("inc/footer") -%>

